/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Main style */

.page {
  color: var(--text-clr);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  background-image: var(--cover-image);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.cover {
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.accented-shadow-text {
  color: var(--accent-heading-clr);
  font-weight: 700;
  font-size: var(--accent-heading-fs-mobile);
  line-height: 82.5%;
}

.accented-background {
  color: var(--accent-clr-with-background);
  background-color: var(--accent-clr);
}

.accented-text {
  font-size: 18px;
  line-height: 130%;
}

.accented-text_bold {
  font-weight: 700;
}

.text-heading {
  margin: 0 0 20px;
  color: var(--heading-clr);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.accented-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

.accented-link:hover {
  text-decoration: underline;
}

.accented-link:focus {
  outline: 0;
}

.accented-link:focus-visible {
  outline: 1px solid currentColor;
}

.paragraph-text {
  margin: 10px 0 20px;
  line-height: 130%;
}

.section {
  display: grid;
  gap: 20px;
}

.article {
  list-style-type: none;
}

/* Header */

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  min-height: 100vh;
}

.rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 30px;
  color: var(--rec-decoration-clr);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.rec-icon::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 5px 4px var(--rec-decoration-clr);
  background-color: var(--rec-decoration-clr);
  inline-size: 7px;
  block-size: 7px;
}

.decorated {
  position: relative;
}

.decorated::before,
.decorated::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated::before {
  border-top: 1px solid var(--decorative-bracket-clr);
  border-right: 1px solid var(--decorative-bracket-clr);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated::after {
  border-bottom: 1px solid var(--decorative-bracket-clr);
  border-left: 1px solid var(--decorative-bracket-clr);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu {
  justify-self: end;
  padding: 15px 0 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-item {
  list-style-type: none;
  }

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--menu-clr);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-clr);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  /* outline: 1px solid */
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  /* outline: 1px solid var(--menu-clr); */
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__heading {
  text-shadow: 4px 4px 0 var(--accent-clr);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__text {
  justify-self: end;
  margin: 0;
  padding-right: 50px;
  max-inline-size: 364px;
}

/* Block "Main" */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

/* Block "Why?" */

/* .why {
  margin: 40px 0 0;
} */

/* Block "How?" */

.how__list-heading {
  margin: 0 0 20px;
}

.how__list-title {
  font-weight: 400;
}

/* Pictures */

.pictures {
  gap: 10px;
}

.pictures__list {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  gap: 10px;
  /* margin: 10px 0 0; */
}

.pictures__img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* Footer */

.footer {
  display: grid;
  min-height: 100vh;
}

.footer__text {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

/* Media */

@media (min-width: 768px) {

  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
    left: -20px;
    padding: 30px 0 0;
  }

  .header__text {
    margin: 0;
    padding: 0;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    /* display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
    margin: 60px 0 0; */
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  /* .what {
    grid-template-columns: repeat(1, 1fr);
  } */

  .what__heading {
    max-inline-size: 236px;
  }

  .what__list {
    grid-column-start: span 2;
  }

  .how__list {
    grid-column-start: 2;
  }

  .pictures {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pictures__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: var(--gap);
    margin: 0;
  }

  .pictures__list-item:first-child,
  .pictures__list-item:last-child {
    grid-column-start: span 2;
  }

  .pictures__list-item:nth-child(2),
  .pictures__list-item:nth-child(3) {
    grid-row-start: span 2;
  }

  .pictures__img {
    object-position: top;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

@media (min-width: 1024px) {

  .section {
    column-gap: 30px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__heading {
    text-shadow: 4px 4px 0 var(--accent-clr);
    padding: 50px 0 0;
  }

  .header__text {
    max-inline-size: 491px;
  }

  /* .why {
    grid-template-columns: 314px 1fr;
  } */

  .what__heading {
    max-inline-size: 314px;
  }

  .what__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--gap);
    /* grid-template-columns: repeat(3, 1fr); */
  }

  /* .how {
    grid-template-columns: 314px 1fr;
  } */
}
